//    Copyright (c) 2014, 2017 Oracle and/or its affiliates. All rights reserved.
//    DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
//
//    This code is free software; you can redistribute it and/or modify it
//    under the terms of the GNU General Public License version 2 only, as
//    published by the Free Software Foundation.  Oracle designates this
//    particular file as subject to the "Classpath" exception as provided
//    by Oracle in the LICENSE file that accompanied this code.
//
//    This code is distributed in the hope that it will be useful, but WITHOUT
//    ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
//    FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
//    version 2 for more details (a copy is included in the LICENSE file that
//    accompanied this code).
//
//    You should have received a copy of the GNU General Public License version
//    2 along with this work; if not, write to the Free Software Foundation,
//    Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.
//
//    Please contact Oracle, 500 Oracle Parkway, Redwood Shores, CA 94065 USA
//    or visit www.oracle.com if you need additional information or have any
//    questions.
grant {
    permission java.lang.RuntimePermission "accessClassInPackage.sun.misc";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.lang.RuntimePermission "createSecurityManager";
    permission java.lang.RuntimePermission "getProtectionDomain";
    permission java.lang.RuntimePermission "modifyThread";
    permission java.lang.RuntimePermission "setSecurityManager";
    permission java.security.SecurityPermission "createPolicy.JavaPolicy";
    permission java.security.SecurityPermission "setPolicy";
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.util.PropertyPermission "*", "read, write";
    permission java.lang.management.ManagementPermission "monitor";
    permission java.io.FilePermission "/-", "read,write,execute,delete";
    permission java.net.SocketPermission "*", "connect,resolve,accept,listen";
};